<!DOCTYPE html>
<html lang="en">
  <head>
<title>Reports</title>

	<meta charset="UTF-8">
	<meta name="author" content="">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="theme-color" content="#323741">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="/styles/main.css">
	<link rel="stylesheet" href="/styles/reports.css">  
    <link rel="stylesheet" href="/styles/user_header.css">

  </head>
  <body>
        {{> header_partial }} 
    {{#each reports}}
    <div class="reportItem">
        <img class="profilePic" src="{{this.perpetratorPicUrl}}">
        <div class="userName"><a href="/users/{{this.perpetrator}}">{{this.perpetrator}}</a></div>
        <div class="reportDate">
            {{this.date}}
        </div>
        <div class="reportContent">
            {{this.content}}
        </div>
        <button class="closeReport">
            Close Report
        </button>
    </div>
    {{/each}}
    
    <script src="/js/reportScript.js"></script>

    
    

</body>
</html>