<!DOCTYPE html>
<html lang="en">
  <head>
<title>Account</title>

	<meta charset="UTF-8">
	<meta name="author" content="">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="theme-color" content="#323741">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/user_header.css">
	<link rel="stylesheet" href="/styles/user_account_style.css">  

  </head>
  
<body>
    {{> header_partial }} <!-- Notice that this is the same name as the header_partial.hbs file sans the extension, thats cuz line35 does this for all in a dir -->
    <div id="leftSideAccountPage">
        {{#if canEdit}}
        <div id="profilePicEditableContainer">
            <img id="profilePic" class="profilePic" src={{userDetails.profilePicUrl}}></img>
            <div id="profilePicOverlay">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.127 22.564l-7.126 1.436 1.438-7.125 5.688 5.689zm-4.274-7.104l5.688 5.689 15.46-15.46-5.689-5.689-15.459 15.46z"/></svg>
            </div>
        </div>
        {{else}}
        <div id="profilePicContainer">
            <img id="profilePic" class="profilePic" src={{userDetails.profilePicUrl}}></img>
            <div id="profilePicOverlay">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.127 22.564l-7.126 1.436 1.438-7.125 5.688 5.689zm-4.274-7.104l5.688 5.689 15.46-15.46-5.689-5.689-15.459 15.46z"/></svg>
            </div>
        </div>
        {{/if}}
        
        <h2 id="userNameHeading">{{userDetails.name}}</h2>

        <form id="userSearchInput">
            <input type="text" placeholder="View a User's Account">
            <input type="submit" value="Find User">
        </form>
        {{#if isJustOwner}}<button type="button" id="changePassButton">Change Password</button>{{/if}}
        {{#if user.isAdmin}}<button type="button" id="changePassButtonAdmin">Change Password</button>
        <button type="button" id="revokeAdmin">{{#if userDetails.isAdmin}}Revoke Admin Priveleges{{else}}Make This User Admin{{/if}}</button>       
        <button type="button" id="banUser">{{#if userDetails.isBanned}}Unban this user{{else}}Ban this user{{/if}}</button>{{/if}}


    </div>
    
    <div id="accountPageMainContent">
        

            <div class="userInfoSection">
                <div class="userInfoSectionHeading">
                    Location
                </div>
                <div class="userInfoSectionContent" id="userLocation">
                    {{userDetails.city}}
                </div>
                {{#if canEdit}}<button type="button" class="infoEditButton">
                    Edit
                </button>{{/if}}
            </div>
            

            <div class="userInfoSection">
                <div class="userInfoSectionHeading">
                    About Me
                </div>
                <div class="userInfoSectionContent" id="userAbout">
                {{userDetails.about}}
                </div>
                {{#if canEdit}}<button type="button" class="infoEditButton">
                    Edit{{/if}}
                </button>
            </div>
            <div class="userInfoSection">
                <div class="userInfoSectionHeading">
                    Member Since 
                </div>
                <div class="userInfoSectionContent" id="userMemberSince">
                    {{formattedMemberSince}}
                </div>
            </div>

        
    </div>
    <div class="dialogContainer" id="passChange">
        <div class="dialogBox">
            <span class="closeBox">x</span>
            <form>
                <input type="text" id="oldPass" placeholder="Your old password">
                <input type="text" id="newPass" placeholder="Your new password">
                <input type="text" id="confirmPass" placeholder="Confirm new password">
                <input type="submit" value="Change Password">
            </form>
        </div>
    </div>
    
    <div class="dialogContainer" id="infoChange">
        <div class="dialogBox">
            <span class="closeBox">x</span>
            <form>
                <textarea id="newInfo" placeholder="The new content"></textarea>
                <input type="submit" value="Change Info">
            </form>
        </div>
    </div>
    
    <div class="dialogContainer" id="userNotFound">
        <div class="dialogBox">
            <span class="closeBox">x</span>
            <br>User not found
        </div>
    </div>
    
    <div class="dialogContainer" id="passChangeAdmin">
        <div class="dialogBox">
            <span class="closeBox">x</span>
            <form>
                <input type="text" id="newPass" placeholder="Set new password">
                <input type="submit" value="Change Password">
            </form>
        </div>
    </div>


    <div id="editProfilePicContainer"><div id="editProfilePicDialog">
        <button id="editProfilePicDialogClose" class="closeDialog"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/></svg></button>
        <h2>Edit profile picture</h2>
        <hr>
        <div>
            <input type='file' id="editProfilePicButtonInput" name="update-profile-pic" accept="image/*"/>
            <label for="editProfilePicButtonInput" id="editProfilePicButton">Upload image</label>
            <button id="editProfilePicButtonSubmit">Update!</button>
        </div>
        <div id="editProfilePicSampleContainer"><div id="editProfilePicSample"></div></div>
    </div></div>
    <script type="text/javascript" src="/js/user_account_scripts.js"></script>




</body>
</html>